@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

section {
  overflow: hidden;
}

body {
  font-family: var(--font-manrope);
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

.bg-back {
  background: url(../assets/home/background-1.webp);
   background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-all {
  background: linear-gradient(rgba(255, 255, 255, 0.793), rgba(219, 219, 219, 0.82)), url(../assets/home/leaf.png);
   background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slideX {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
}

.slide-x , .blg:hover .date {
  position: relative;
  animation: ripple 1s ease-out infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.35),
                0 0 0 20px rgba(255, 255, 255, 0.2),
                0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0),
                0 0 0 40px rgba(255, 255, 255, 0),
                0 0 0 60px rgba(255, 255, 255, 0);
  }
}

/* animation */
.hover14 {
  position: relative;
  overflow: hidden;
}
.hover14::before {
  position: absolute;
  top: 0;
  left: -165%;
  z-index: 2;
  display: block;
  content: "";
  width: 30%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.568) 100%
  );
  transform: skewX(-45deg);
}

@keyframes shine {
  100% {
    left: 165%;
  }
}

.hover14:hover::before {
  animation: shine 0.85s ease-in-out;
}

.swiperstyle1 {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
    background-color: #ffffff !important;
  }
}
.swiper-pagination-bullet {
  height: 11px !important;
  width: 11px !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  border: 2px solid transparent !important;
  background: rgba(33, 33, 254, 0.941) !important;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  box-shadow: 0 2px 6px rgba(21, 66, 254, 0.12) !important;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 3px 10px rgba(21, 66, 254, 0.25) !important;
}

.swiper-pagination-bullet-active {
  width: 38px !important;
  height: 11px !important;
  border-radius: 20px !important;
  border: none !important;
  background: rgb(4, 4, 130) !important;

  position: relative !important;
}


.animate-y {
  animation: bounce 7s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translatey(-35%);
  }

  50% {
    transform: translatey(10%);
  }
}


/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;   /* vertical scrollbar width */
  height: 5px;  /* horizontal scrollbar height */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(8, 37, 181, 0.589);
  border-radius: 9999px;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(175, 206, 0, 0.7);
}